{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">BigData Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guide">guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/book">book</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
                  <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" href="/login">login</a></li>
                <li><a class="nav-link" href="/register">register</a></li>
            </ul>
    </div>
  </div>
</nav>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='img/guide.png') }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p class="text-body，fw-bold">请读者关注图书馆主页“读者指南”，（点击导航条中guide）了解图书馆的各项服务措施和动态信息，以便更好地利用图书馆。
          图书馆根据实际情况，会对本指南进行适当调整，并执行最新规定。</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/library2.jpg') }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p class="text-body，fw-bold">美丽的图书馆位于XXXXXXXXXXX，您可直接前往。如有疑问请拨打联系电话136-5795-3833，
          或者发送email到renzj@mail.ustc.edu.cn，图书馆的工作人员会详细为您解答问题
          若您为图书馆工作人员，请单击导航条admin进行相关事务处理
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/path1.jpg') }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p class="text-body，fw-bold">未登录状态功能受限。您可以在未登录状态查询图书馆馆藏，但无法实现借阅读取等多项功能。
          若想使用图书馆更多功能，点击导航条内login按钮，使用更多功能！</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
  </div>



{% endblock %}

