{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BigData Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guide">guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book">book</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" href="/login">login</a></li>
                <li><a class="nav-link" href="#">register</a></li>
            </ul>
        </div>
    </div>
</nav>
<h3>忘记页码重置</h3>
<form method="post" style="width:700px;margin:100px auto">
  <div class="col-12">
    <label class="form-label">姓名</label>
    <input type="text" class="form-control" name="name" required>
  </div>
  <div class="col-12">
    <label class="form-label">身份证号</label>
    <input type="text" class="form-control" name="ID_number" required>
  </div>

  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">联系电话</label>
    <input type="tel" class="form-control" name="phone" required>
  </div>
     <div class="col-12">
    <label class="form-label">重新设置密码</label>
    <input type="password" class="form-control" name="password" required>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">提交</button>
  </div>
  </div>
</form>


{% endblock %}