{% extends 'base.html' %}

{% block content %}
<h3>读者注册</h3>
<form method="post" style="width:700px;margin:100px auto">
  <div class="col-12">
    <label class="form-label">姓名</label>
    <input type="text" class="form-control" name="name" required>
  </div>
  <div class="col-12">
    <label class="form-label">身份证号</label>
    <input type="text" class="form-control" name="ID_number" required>
  </div>
  <div class="col-12">
    <label class="form-label">设置密码</label>
    <input type="password" class="form-control" name="password" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">联系电话</label>
    <input type="tel" class="form-control" name="phone" required>
  </div>


  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        同意图书馆读者协议
      </label>
    </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">提交</button>
  </div>
  </div>
</form>
{% endblock %}

